body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    background: url('background_image.png') no-repeat center center fixed;
    background-size: cover;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
}

.container {
    display: flex;
    width: 700px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: rgba(255, 255, 255, 0.9);
}

.left-panel {
    background-color: #ffeb3b;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    position: relative;
}

.logo-icon {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
}

.left-panel h2 {
    margin-bottom: 20px;
    color: #333;
}

.nav-icon {
    background-color: transparent;
    font-size: 30px;
    color: #333;
    margin-top: 20px;
}

.nav-icon span {
    font-size: 30px;
}

.right-panel {
    background-color: #fff;
    width: 60%;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form-group {
    position: relative;
    margin-bottom: 20px;
    width: 100%;
}

.form-group input,
.form-group select {
    width: 100%;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    outline: none;
    transition: border-color 0.3s;
    font-size: 16px;
    background-color: #f9f9f9;
}

.form-group input:focus,
.form-group select:focus {
    border-color: #ffeb3b;
}

.form-group label {
    position: absolute;
    top: -20px;
    left: 10px;
    background-color: #fff;
    padding: 0 5px;
    color: #666;
    font-size: 14px;
}

.submit-btn {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 15px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
    transition: background-color 0.3s;
    margin-top: 10px;
}

.submit-btn:hover {
    background-color: #45a049;
}

#message {
    margin-top: 15px;
    font-size: 14px;
    color: red;
}

.error-message {
    color: red;
    font-size: 12px;
    margin-top: 5px;
}
